
* {
  margin : 0;
  padding: 0;
}

.cover {
  /* background-image: url(""); */
  background-size : cover;
  height : 100vh;
}

.cover h1 {
  color : #fff;
  text-align: center;
  padding-top: 50vh;
}


